// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.footer-left {
  text-align: left;
  width: 40%;
  float: left;
}

.footer-center {
  text-align: center;
  width: 10%;
}

.footer-right {
  text-align: right;
  width: 40%;
  float: right;
}

/* Post navigation links */
.post_navi {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi-item {
  padding: 0 2.2em;
  position: relative;
  color: inherit !important;
}

.nav_prev {
  text-align: left;
  position: relative;
  left: 0px;
}

.nav_next {
  text-align: right;
  position: relative;
  right: 0px;
}

.nav_prev,
.post_navi-arrow {
  left: 0;
}

.nav_next,
.post_navi-arrow {
  right: 0;
}

.post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  opacity: 0.3;
}


/* Style LightGallery captions */
.lg-sub-html h4 {
  font-size: 1.2em;
  font-weight: bold;
}

.lg-sub-html p {
  font-size: 1em;
  color: #aaa;  /* Adjust as needed */
  margin-top: 0.5em;
  font-weight: bold;
}

.lg-sub-html {
  display: block;         /* Ensure the captions are block elements */
  opacity: 1;            /* Make sure they are fully visible */
  transition: opacity 0.5s; /* Optional: smooth transition */
  position: relative;     /* Positioning for absolute children if needed */
  z-index: 1000;         /* Make sure captions are above other elements */
}


.image-gallery {
  display: block;
  position: relative;  /* Allows positioning of child elements */

  /* Set up a sizer element for Isotope's masonry layout */
  .gallery-sizer {
    width: 33%; /* Adjust as needed for the column width */
    @media screen and (max-width: $on-palm) {
      width: 50%; /* 2 columns on smaller screens */
    }
  }

  /* Default width for gallery items */
  .gallery-item {
    width: 33%; /* Change to a percent smallat fits your layout */
    float: left; /* Floating allows the layout to work */
    padding: 3px; /* Adds padding around each image wrapper */
    box-sizing: border-box; /* Ensures padding is included in the total width/height */
    transition: transform 0.2s; /* Smooth transitions for hover effects */

    @media screen and (max-width: $on-palm) {
      width: 50%; /* 2 columns on smaller screens */
    }
  }

  /* For wider items, if you want to implement width variations */
  .gallery-item--width2 {
    width: 50%; /* Adjust as necessary */
  }

  img {
    width: 100%; /* Sets image to take full width of its container */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Ensures no extra space below the image */
  }

  /* Clearfix to clear floated elements */
  &:after {
    content: ''; /* Creates a clearfix for floated elements */
    display: table; /* More modern clearfix */
    clear: both; /* Clears the float */
  }
}

.lg-toolbar .custom-caption {
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically if toolbar height allows */
  width: 100%;
  // color: #fff;              /* Adjust font color */
  // font-size: 1em;
  // font-weight: bold;
  text-align: center;
}